.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  padding-top: 18px;
  padding-bottom: 18px;

  @media screen and (min-width: 768px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header__logo-icon {
  width: 154px;
  height: 28px;

  @media screen and (min-width: 768px) {
    width: 195px;
    height: 32px;
  }
}

.header__wrap {
  display: flex;
  align-items: center;

  &-wrap {
    display: flex;
    gap: 14px;
  }

  &-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    background: $accent-color-100;
    fill: $main-bg-100;
    border-radius: 30px;

    &:hover {
      background-color: $dark-accent-color;
    }

    &:focus {
      background-color: $dark-accent-color;
    }
  }
}

.header__home-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: $accent-color-100;
  color: $main-bg-100;

  padding: 10px 15px;
  font-size: 14px;
  font-weight: 500;
  margin-right: 4px;

  @media screen and (min-width: 480px) {
    margin-right: 6px;
    padding: 10px 20px;
  }

  @media screen and (min-width: 768px) {
    padding: 12px 28px;
    font-size: 18px;
    font-weight: 500;
    margin-right: 16px;
  }

  @media screen and (min-width: 1304px) {
    margin-right: 24px;
  }
}

.header__home-btn:hover {
  background-color: $dark-accent-color;
}

.header__cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $dark-text-100;

  @media screen and (min-width: 480px) {
    padding: 12px;
    gap: 10px;
  }

  @media screen and (min-width: 768px) {
    padding: 10px;
  }
}

.header__cart-icon {
  width: 14px;
  height: 14px;

  @media screen and (min-width: 768px) {
    width: 18px;
    height: 18px;
  }
}

.header__cart-info {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
  }
}
