.products {
    flex: auto;

    padding-bottom: 31px;


    &__list {
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
        flex-basis: calc((100% - 20px) / 3);
        padding-bottom: 40px;
    }

    &__item {
        gap: 20px;
        width: 295px;
        height: 363px;
        flex-shrink: 0;
        border-radius: 20px;
        background: #FAFAFA;
        padding: 20px;
    }

    // &__item:nth-child(3),
    // &__item:nth-child(6),
    // &__item:nth-child(9)  {
    //     gap: 0;
    // }
    &__svg_price {
        display: flex;
        justify-content: space-between;
    }

    &__svg_container {
        display: flex;
        padding: 8px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 30px;
        background: #6D8434;
    }

    &__basket {
        width: 18px;
        height: 18px;
        fill: #FAFAFA;

    }

    &__container_img {
        width: 255px;
        height: 178px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background: #E8E8E2;
        margin-left: auto;
        margin-right: auto;
    }

    &__img {
        width: 140px;
        height: 140px;
        border-radius: 10px;



    }

    &__title {
        color: #010101;
        font-family: "Neue Montreal";
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        margin-bottom: 10px;
        margin-top: 20px;

    }

    &__category {
        color: rgba(1, 1, 1, 0.30);
        font-family: "Neue Montreal";
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        float: left;
        margin-right: 8px;

    }

    &__category span {
        color: #010101;
        font-family: "Neue Montreal";
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
    }

    &__size {
        color: rgba(1, 1, 1, 0.30);
        font-family: "Neue Montreal";
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
    }

    &__size span {
        color: #010101;
        font-family: "Neue Montreal";
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
    }

    &__popularity {
        color: rgba(1, 1, 1, 0.30);
        font-family: "Neue Montreal";
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        margin-top: 9px;
        margin-bottom: 30px;

    }

    &__popularity span {
        color: #010101;
        font-family: "Neue Montreal";
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
    }

    &__price {
        color: #010101;
        font-family: "Neue Montreal";
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
    }




    &__pagination_container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

    }

    &__pagination_list {
        display: flex;
        gap: 8px;
    }

    &____pagination_box {
        display: flex;
        padding: 8px;
        align-items: center;
        gap: 8px;
        border-radius: 60px;
        background: #FAFAFA;
        width: 25px;
        height: 25px;
    }

    &__pagination_text {
        color: gray;
    }


    &__pagination_item {
        display: flex;
        width: 40px;
        height: 40px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__pagination_item_green {
        border-radius: 60px;
        background: #6D8434;
    }

    &__pagination_text_white {
        color: #FAFAFA;
    }

    &__pagination_svg {
        width: 24px;
        height: 24px;
        fill: #A3A3A3;
    }

    &__pagination_box {
        display: flex;
        padding: 8px;
        align-items: center;
        gap: 8px;
        border-radius: 60px;
        background: #FAFAFA;
        margin-right: 8px;
    }

    &__last_item {
        display: block;
    }
}




@media screen and (max-width: 768px) {
    .products {

        max-width: 100%;


        &__list {
            gap: 32px;
            display: flex;
            justify-content: center;
        }

        &__last_item {
            display: none;
        }




    }
}

@media screen and (max-width: 480px) {
    .products {

        &__deleting {
            display: none !important;
        }
    }
}