<section class="discount">
  <div class="discount__box container">
    <h2 class="discount__title">Discount products</h2>
    <ul class="discount__list">
      <li class="discount__item">
        <svg class="discount__svg-discount">
          <use href="./svg/icons.svg#discount"></use>
        </svg>
        <div class="discount__box-img">
          <picture>
            <source
              srcset="./img/destop/x1/Apricot@1x.webp"
              media="(min-width: 1304px)"
            />
            <source
              srcset="./img/table/x1/Apricot@1x.webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/phone/x1/Apricot@1x.webp"
              media="(max-width: 767px)"
            />
            <img
              src="./img/destop/x1/Apricot@1x.webp"
              alt="Apricot"
              class="discount__image"
            />
          </picture>
        </div>
        <div class="discount__svg-price">
          <h3 class="discount__item-title">Apricot</h3>
          <div class="discount__item-wrap">
            <p class="discount__price">$0.79</p>
            <div class="discount__svg-container">
              <svg class="discount__basket">
                <use href="./svg/icons.svg#cart"></use>
              </svg>
            </div>
          </div>
        </div>
      </li>

      <li class="discount__item">
        <svg class="discount__svg-discount">
          <use href="./svg/icons.svg#discount"></use>
        </svg>
        <div class="discount__box-img">
          <picture>
            <source
              srcset="./img/destop/x1/Dark-Chocolate@1x.webp"
              media="(min-width: 1304px)"
            />
            <source
              srcset="./img/table/x1/Chocolate@1x.webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/phone/x1/Chocolate@1x.webp"
              media="(max-width: 767px)"
            />
            <img
              src="./img/destop/x1/Dark-Chocolate@1x.webp"
              alt="Dark-Chocolate"
              class="discount__image"
            />
          </picture>
        </div>
        <div class="discount__svg-price">
          <h3 class="discount__item-title">Dark Chocolate</h3>
          <div class="discount__item-wrap">
            <p class="discount__price">$6.99</p>
            <div class="discount__svg-container">
              <svg class="discount__basket">
                <use href="./svg/icons.svg#cart"></use>
              </svg>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
