<section class="email">
    <div class="email__backdrop email__is-hidden" >
        <div class="email__modal-window" id="modalWindow">
            <button class="email__modal-close">
                <svg class="email__svg-close">
                    <use href="./svg/icons.svg#close"></use>
                </svg>
            </button>
                <div class="email__box-modal">
                    <h2 class="email__title-modal">
                        This <span class="email__title-green">email address</span>  has already been entered
                    </h2>
                    <p class="email__subtitle-modal">
                        You have already subscribed to our new products. Watch for offers at the mailing address.
                    </p>
                </div>
        </div>
    </div>
</section>



