<section class="filters">
  <div class="container">
    <h2 class="filters__title">Filters:</h2>
    <div class="filters__body">
        <form class="filters__form">
          <label  class="filters__label">
            <input placeholder="Search for anything" type="text" class="filters__input" id="filters-input" />
          </label>
          <button class="filters__sub">
            <svg class="filters__search" width="20" height="20">
              <use href="./svg/icons.svg#search"></use>
            </svg>
          </button>
        </form>
        <div class="filters__categories">
          <button class="filters__btn" type="button">
            Categories
            <svg class="filters__icon" width="20" height="20">
              <use href="./svg/icons.svg#arrow-down"></use>
            </svg>
          </button>
          <ul class="filters__list is-hidden">
            <li class="filters__item filters__item--checked">Beverages</li>
            <li class="filters__item">Breads / Bakery</li>
            <li class="filters__item">Dairy</li>
            <li class="filters__item">Deli</li>
            <li class="filters__item">Eggs</li>
            <li class="filters__item">Fresh Produce</li>
            <li class="filters__item">Meat & Seafood</li>
            <li class="filters__item">Pantry Items</li>
            <li class="filters__item">Prepared Foods</li>
            <li class="filters__item">Snacks</li>
            <li class="filters__item">Show all</li>
          </ul>
        </div>
        <div class="filters__alphabet">
          <button class="filters__btn" type="button">
            A to Z
            <svg class="filters__icon" width="20" height="20">
              <use href="./svg/icons.svg#arrow-down"></use>
            </svg>
          </button>
          <ul class="filters__list is-hidden">
            <li class="filters__item filters__item--checked">A to Z</li>
            <li class="filters__item">Z to A</li>
            <li class="filters__item">Cheap</li>
            <li class="filters__item">Expensive</li>
            <li class="filters__item">Popular</li>
            <li class="filters__item">Not popular</li>
            <li class="filters__item">Show all</li>
          </ul>
        </div>
    </div>
  </div>
</section>
