<section class="footer">
    <ul class="footer__list">
        <li class="footer__item">
            <h1 class="footer__title"> Food Boutique
                <!-- <svg class="footer__title_svg">
                    <use></use>
                </svg>-->
            </h1>
            <!-- <svg> 
                <use></use>
            </svg>
            <svg>
                <use></use>
            </svg> -->
        </li>
        <li class="footer__item">
            <h2 class="footer__title">Discover the Variety of Flavors and Quality</h2>
            <p class="footer__info">An online store where you will find fresh, natural and delicious products for a
                healthy life and unforgettable gastronomic adventures.</p>
        </li>
        <li class="footer__item">
            <h3 class="footer__subtitle">Subscribe and learn about new products!</h3>
            <input class="footer__input" type="text" placeholder="Email" id="input">
            <button class="footer__bth">Send</button>
        </li>
    </ul>
    <div class="box">
        <p class="footer__subtext1">Food Boutique. All rights reserved.</p>
        <p class="footer__subtext2">Privacy Policy/Terms of Service</p>
    </div>
</section>