<header class="header">
  <div class="header__box container">
    <a href="./index.html">
      <svg class="header__logo-icon">
        <use href="#header-logo"></use>
      </svg>
    </a>
    <div class="header__wrap">
      <a href="./index.html" class="header__home-btn">Home</a>
      <a href="./cart.html" class="header__cart-btn">
        <div class="header__wrap-wrap">
          <div class="header__wrap-svg">
            <svg class="header__cart-icon">
            <use href="#cart"></use>
          </svg></div>
          <p class="header__cart-info">
            Cart (<span class="header__cart-quantity">3</span>)
          </p>
        </div>
      </a>
    </div>
  </div>
</header>
