<header class="header">
  <div class="header__box container">
    <a href="#">
      <svg class="header__logo-icon">
        <use href="./svg/icons.svg#header-logo"></use>
      </svg>
    </a>
    <div class="header__wrap">
        <button type="button" class="header__home-btn">Home</button>
        <button type="button" class="header__cart-btn">
          <a href="#">
            <svg class="header__cart-icon">
              <use href="./svg/icons.svg#cart"></use>
            </svg>
          </a>
        </button>
        <p class="header__cart-info">Cart (<span class="header__cart-quantity">3</span>)</p>
    </div>
  </div>
</header>
