<section class="hero">
  <div class="hero__box container">
    <h3 class="hero__title">
      Welcome to the <span class="hero__title-color">Food</span> Boutique!
    </h3>
    <p class="hero__text">
      With Food Boutique, you're not just subscribing to food, you're signing up
      for a fresher, fitter, and happier you.
    </p>
    <div class="hero__wrap">
      <svg class="hero__icon" width="100" height="100">
        <use href="./svg/icons.svg#organic"></use>
      </svg>
      <picture>
        <source
          srcset="./public/hero@1xDesktop.webp"
          media="(min-width: 1304px)"
        />
        <source
          srcset="./public/hero@1xTablet.webp"
          media="(min-width: 768px)"
        />
        <source
          srcset="./public/hero@1xPhone.webp"
          media="(max-width: 767px)"
        />
        <img class="hero__image" src="./public/hero@1xPhone.webp" alt="" />
      </picture>
    </div>
  </div>
</section>
