<div class="order__modal is-hidden">
  <div class="order__overlay">
    <button class="order__close-btn">
      <svg class="order__close-icon" style="fill: #000">
        <use href="#close"></use>
      </svg>
    </button>
    <div class="order__img">
      <picture>
        <source
          srcset="
            img/destop/x1/tomato@1x.webp, 
            img/destop/x2/tomato@2x.webp 2x
          "
          media="(min-width: 1304px)"
        />
        <source
          srcset="
            img/table/x1/tomato@1x.webp, 
            img/table/x2/tomato@2x.webp 2x
          "
          media="(min-width: 768px)"
        />

        <img
          srcset="
            img/phone/x1/tomato@1x.webp, 
            img/phone/x2/tomato@2x.webp 2x
          "
          alt="Tomatoes"
        />
      </picture>
      <svg class="order__img--icon" width="100%" height="28px">
        <use href="#shadow"></use>
      </svg>
    </div>
    <h2 class="order__title">Order success</h2>
    <p class="order__description">
      Thank you for shopping at Food Boutique. Your order has been received and
      is now being freshly prepared just for you! Get ready to indulge in
      nourishing goodness, delivered right to your doorstep. We're thrilled to
      be part of your journey to better health and happiness.
    </p>
  </div>
</div>
