<div id="pagination-section" class="pagination">
  <div class="pagination__wrap">
    <button id="double-prev" class="pagination__box">
      <svg width="24" height="24" class="pagination__svg">
        <use href="#double-left"></use>
      </svg>
    </button>
    <button id="prev" class="pagination__box">
      <svg width="24" height="24" class="pagination__svg">
        <use href="#left"></use>
      </svg>
    </button>
  </div>
  <ul id="pagination-list" class="pagination__list">
    <!-- <li class="pagination__item">
        <button class="pagination__btn">
          <p class="pagination__text">1</p>
        </button>
      </li>
      <li class="pagination__item pagination__accent">
        <button class="pagination__btn">
          <p class="pagination__text">2</p>
        </button>
      </li>
      <li class="pagination__item">
        <button class="pagination__btn">
          <p class="pagination__text">3</p>
        </button>
      </li>
      <li class="pagination__item">
        <button class="pagination__btn">
          <p class="pagination__text">4</p>
        </button>
      </li>
      <li class="pagination__item">
        <p class="pagination__text">...</p>
      </li> -->
  </ul>
  <div class="pagination__wrap">
    <button id="next" class="pagination__box">
      <svg width="24" height="24" class="pagination__svg">
        <use href="#right"></use>
      </svg>
    </button>
    <button id="double-next" class="pagination__box">
      <svg width="24" height="24" class="pagination__svg">
        <use href="#double-right"></use>
      </svg>
    </button>
  </div>
</div>
