<section class="popular">
  <div class="container">
    <h2 class="popular__title">Popular products</h2>
    <ul class="popular__list">
      <li class="popular__item">
        <div class="popular__wrapper">
          <img src="#" alt="" class="popular__img" />
        </div>
        <div class="popular__text">
          <h3 class="popular__subtitle">Ackee</h3>
          <ul class="popular__points">
            <li class="popular__point">
              <p class="popular__info">
                Category:<span class="popular__span">Fresh Produce</span>
              </p>
            </li>
            <li class="popular__point">
              <p class="popular__info">
                Size:<span class="popular__span">16 oz</span>
              </p>
            </li>
            <li class="popular__point">
              <p class="popular__info">
                Popularity:<span class="popular__span">3</span>
              </p>
            </li>
          </ul>
        </div>
        <button class="popular__cart">
          <svg class="popular__icon" width="12" height="12">
            <use href="./svg/icons.svg#cart"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
