<div id="product-backdrop" class="is-hidden backdrop">
  <div data-productmodal class="product">
    <button id="product-close" class="product__close">
      <svg class="product__dagger" width="22" height="22">
        <use href="./svg/icons.svg#close"></use>
      </svg>
    </button>
    <div class="product__body">
      <div class="product__wrapper">
        <img id="product-img" src="#" alt="" class="product__img" />
      </div>
      <div class="product__text">
        <h3 class="product__subtitle" id="product-name"></h3>
        <ul class="product__points">
          <li class="product__point">
            Category:
            <span class="product__span" id="product-category"></span>
          </li>
          <li class="product__point">
            Size: <span class="product__span" id="product-size"></span>
          </li>
          <li class="product__point">
            Popularity:
            <span class="product__span" id="product-popularity"></span>
          </li>
        </ul>
        <p id="product-desc" class="product__desc"></p>
      </div>
    </div>
    <div class="product__footer">
      <p class="product__prise">$<span id="product-price"></span></p>
      <button data-productaddmodal="true" id="product-add" class="product__cart"></button>
    </div>
  </div>
</div>
