<div class="products">
  <ul id="products-list" class="products__list">
    <!-- <li class="products__item">
                <div class="products__container_img">
                    <img src="./img/destop/x1/avocado@1x.webp" alt="Carrots" class="products__img">
                </div>
                <h2 class="products__title">Avocado</h2>
                <p class="products__category">Category:<span>Fresh Produce</span></p>
                <p class="products__size">Size: <span>Each</span> </p>
                <p class="products__popularity">Popularity: <span>0</span></p>
                <div class="products__svg_price">
                    <p class="products__price">$1.99</p>
                    <button class="products__svg_btn">
                        <svg class="products__basket">
                            <use href="./svg/icons.svg#cart"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="products__item">
                <div class="products__container_img">
                    <img src="./img/destop/x1/tomato@1x.webp" alt="Carrots" class="products__img">
                </div>
                <h2 class="products__title">Tomato</h2>
                <p class="products__category">Category: <span>Fresh Produce</span></p>
                <p class="products__size">Size: <span>200 g</span></p>
                <p class="products__popularity">Popularity: <span>0</span></p>
                <div class="products__svg_price">
                    <p class="products__price">$3.99</p>
                    <button class="products__svg_btn">
                        <svg class="products__basket">
                            <use href="./svg/icons.svg#cart"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="products__item">
                <div class="products__container_img">
                    <img src="./img/destop/x1/banana@1x.webp" alt="Carrots" class="products__img">
                </div>
                <h2 class="products__title">Banana</h2>
                <p class="products__category">Category: <span>Fresh Produce</span></p>
                <p class="products__size">Size: <span>1 piece</span></p>
                <p class="products__popularity">Popularity: <span>0</span></p>
                <div class="products__svg_price">
                    <p class="products__price">$0.69</p>
                    <button class="products__svg_btn">
                        <svg class="products__basket">
                            <use href="./svg/icons.svg#cart"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="products__item">
                <div class="products__container_img">
                    <img src="./img/destop/x1/Beetroot@1x.webp" alt="Carrots" class="products__img">
                </div>
                <h2 class="products__title">Beetroot</h2>
                <p class="products__category">Category: <span>Fresh Produce</span></p>
                <p class="products__size">Size: <span>1 lb</span></p>
                <p class="products__popularity">Popularity: <span>0</span></p>
                <div class="products__svg_price">
                    <p class="products__price">$3.99</p>
                    <button class="products__svg_btn">
                        <svg class="products__basket">
                            <use href="./svg/icons.svg#cart"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="products__item">
                <div class="products__container_img">
                    <img src="./img/destop/x1/Blueberries@1x.webp" alt="Carrots" class="products__img">
                </div>
                <h2 class="products__title">Blueberries</h2>
                <p class="products__category">Category: <span>Fresh Produce</span></p>
                <p class="products__size">Size: <span>6 oz</span></p>
                <p class="products__popularity">Popularity: <span>0</span></p>
                <div class="products__svg_price">
                    <p class="products__price">$3.99</p>
                    <button class="products__svg_btn">
                        <svg class="products__basket">
                            <use href="./svg/icons.svg#cart"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="products__item">
                <div class="products__container_img">
                    <img src="./img/destop/x1/Butternut@1x.webp" alt="Carrots" class="products__img">
                </div>
                <h2 class="products__title">Butternut Squash</h2>
                <p class="products__category">Category: <span>Fresh Produce</span></p>
                <p class="products__size">Size: <span>per ib</span></p>
                <p class="products__popularity">Popularity: <span>0</span></p>
                <div class="products__svg_price">
                    <p class="products__price">$1.49</p>
                    <button class="products__svg_btn">
                        <svg class="products__basket">
                            <use href="./svg/icons.svg#cart"></use>
                        </svg>
                    </button>
                </div>

            </li>
            <li class="products__item">
                <div class="products__container_img">
                    <img src="./img/destop/x1/Cabbage@1x.webp" alt="Carrots" class="products__img">
                </div>
                <h2 class="products__title">Cabbage</h2>
                <p class="products__category">Category: <span>Fresh Produce</span></p>
                <p class="products__size">Size: <span>per head</span></p>
                <p class="products__popularity">Popularity: <span>0</span></p>
                <div class="products__svg_price">
                    <p class="products__price">$1.99</p>
                    <button class="products__svg_btn">
                        <svg class="products__basket">
                            <use href="./svg/icons.svg#cart"></use>
                        </svg>
                    </button>
                </div>

            </li>
            <li class="products__item">
                <div class="products__container_img">
                    <img src="./img/destop/x1/Carrots@1x.webp" alt="Carrots" class="products__img">
                </div>
                <h2 class="products__title">Carrots</h2>
                <p class="products__category">Category: <span>Fresh Produce</span></p>
                <p class="products__size">Size: <span>1 lb</span></p>
                <p class="products__popularity">Popularity: <span>0</span></p>
                <div class="products__svg_price">
                    <p class="products__price">$0.99</p>
                    <button class="products__svg_btn">
                        <svg class="products__basket">
                            <use href="./svg/icons.svg#cart"></use>
                        </svg>
                    </button>
                </div>

            </li>

            <li class="products__item products__last_item">
                <div class="products__container_img">
                    <img src="./img/destop/x1/Challots@1x.webp" alt="Carrots" class="products__img">
                </div>
                <h2 class="products__title">Challots</h2>
                <p class="products__category">Category: <span>Fresh Produce</span></p>
                <p class="products__size">Size: <span>0.5lb</span></p>
                <p class="products__popularity">Popularity: <span>0</span></p>
                <div class="products__svg_price">
                    <p class="products__price">$1.99</p>
                    <button class="products__svg_btn">
                        <svg class="products__basket">
                            <use href="./svg/icons.svg#cart"></use>
                        </svg>
                    </button>
                </div>

            </li> -->
  </ul>
</div>
