<div class="backdrop">
  <div class="product">
    <button class="product__close">
      <svg class="product__dagger" width="28" height="28">
        <use href="../svg/icons.svg#close"></use>
      </svg>
    </button>
    <div class="product__body">
      <div class="product__wrapper">
        <img src="#" alt="" class="product__img" />
      </div>
      <div class="product__text">
        <h3 class="product__subtitle">Ackee</h3>
        <ul class="product__points">
          <li class="product__point">
            <p class="product__info">
              Category:<span class="product__span">Fresh Produce</span>
            </p>
          </li>
          <li class="product__point">
            <p class="product__info">
              Size:<span class="product__span">16 oz</span>
            </p>
          </li>
          <li class="product__point">
            <p class="product__info">
              Productity:<span class="product__span">3</span>
            </p>
          </li>
        </ul>
        <p class="product__desc">
          A round, orange vegetable with a thick shell and seeds inside. It is
          often used in cooking and baking for its sweet and earthy flavor.
        </p>
      </div>
    </div>
    <div class="product__footer">
      <p class="product__prise">$<span>2.99</span></p>
      <button class="product__cart">
        Add to
        <svg class="product__icon" width="18" height="18">
          <use href="./svg/icons.svg#cart"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
