html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('fonts/NeueMontreal-Regular.otf') format('opentype');
  }

  body {
    font-family: 'Neue Montreal', sans-serif;
  }

*::selection {
    background-color: $accent-color-100;
    color: $light-color-100;
}